<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dropdown.css}"/>
</head>
<body class="site">
<main class="site-content">
    <h1>Выдать фильм для <a th:href="${'/client?id=' + clientId}" th:text="${clientName}"></a></h1>
    <h1 th:if="${error}">Ошибка, попробуйте ещё раз</h1>

    <form action="#" th:action="@{/transaction}" method="post">
        <div>
            <input style="display: none;" name="clientId" th:value="${clientId}">
            <p>
            <label>
                Название фильма
                <input type="text" th:name="filmName">
            </label>
            </p>
            <p>
            <label>
                Дата выдачи
                <input type="text" th:name="from" placeholder="гггг-мм-дд">
            </label>
            </p>
            <p>
            <label>
                Дата возврата
                <input type="text" th:name="til" placeholder="гггг-мм-дд">
            </label>
            </p>
            <p>
            <label>
                Носитель
                <select name="media" required="required">
                    <option value="cd">Диск</option>
                    <option value="cassette">Касета</option>
                </select>
            </label>
            </p>
            <p>
            <input type="submit" value="Выдать">
            </p>
        </div>
    </form>
</main>

<footer th:insert="general :: footer"></footer>
</body>

</html>